{% extends 'base.html.twig' %}

{% block title %}Cv index{% endblock %}

{% block body %}
    <h1>Cv index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_creation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cv in cvs %}
            <tr>
                <td>{{ cv.id }}</td>
                <td>{{ cv.dateCreation ? cv.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_cv_show', {'id': cv.id}) }}">show</a>
                    <a href="{{ path('app_cv_edit', {'id': cv.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cv_new') }}">Create new</a>
{% endblock %}
