{% extends 'base.html.twig' %}

{% block title %}Connaissance index{% endblock %}

{% block body %}
    <h1>Connaissance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Niveau</th>
                <th>Type_connaissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for connaissance in connaissances %}
            <tr>
                <td>{{ connaissance.id }}</td>
                <td>{{ connaissance.titre }}</td>
                <td>{{ connaissance.niveau }}</td>
                <td>{{ connaissance.typeConnaissance }}</td>
                <td>
                    <a href="{{ path('app_connaissance_show', {'id': connaissance.id}) }}">show</a>
                    <a href="{{ path('app_connaissance_edit', {'id': connaissance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_connaissance_new') }}">Create new</a>
{% endblock %}
