{% extends 'base.html.twig' %}

{% block title %}ModeDePaiement index{% endblock %}

{% block body %}
    <h1>ModeDePaiement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mode</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mode_de_paiement in mode_de_paiements %}
            <tr>
                <td>{{ mode_de_paiement.id }}</td>
                <td>{{ mode_de_paiement.mode }}</td>
                <td>{{ mode_de_paiement.description }}</td>
                <td>
                    <a href="{{ path('app_modepaiement_show', {'id': mode_de_paiement.id}) }}">show</a>
                    <a href="{{ path('app_modepaiement_edit', {'id': mode_de_paiement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_modepaiement_new') }}">Create new</a>
{% endblock %}
