{% extends 'base.html.twig' %}

{% block title %}Abonemment index{% endblock %}

{% block body %}
    <h1>Abonemment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonemment in abonemments %}
            <tr>
                <td>{{ abonemment.id }}</td>
                <td>{{ abonemment.titre }}</td>
                <td>{{ abonemment.description }}</td>
                <td>
                    <a href="{{ path('app_abonemment_show', {'id': abonemment.id}) }}">show</a>
                    <a href="{{ path('app_abonemment_edit', {'id': abonemment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_abonemment_new') }}">Create new</a>
{% endblock %}
