{% extends 'base.html.twig' %}

{% block title %}Duree index{% endblock %}

{% block body %}
    <h1>Duree index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nbr_de_jour</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for duree in durees %}
            <tr>
                <td>{{ duree.id }}</td>
                <td>{{ duree.nbrDeJour }}</td>
                <td>{{ duree.montant }}</td>
                <td>
                    <a href="{{ path('app_duree_show', {'id': duree.id}) }}">show</a>
                    <a href="{{ path('app_duree_edit', {'id': duree.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_duree_new') }}">Create new</a>
{% endblock %}
