{% extends 'base.html.twig' %}

{% block title %}Souscrire index{% endblock %}

{% block body %}
    <h1>Souscrire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for souscrire in souscrires %}
            <tr>
                <td>{{ souscrire.id }}</td>
                <td>{{ souscrire.dateDebut ? souscrire.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ souscrire.dateFin ? souscrire.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_souscrire_show', {'id': souscrire.id}) }}">show</a>
                    <a href="{{ path('app_souscrire_edit', {'id': souscrire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_souscrire_new') }}">Create new</a>
{% endblock %}
