{% extends 'base.html.twig' %}

{% block title %}InfoPerso index{% endblock %}

{% block body %}
    <h1>InfoPerso index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for info_perso in info_persos %}
            <tr>
                <td>{{ info_perso.id }}</td>
                <td>{{ info_perso.titre }}</td>
                <td>{{ info_perso.description }}</td>
                <td>
                    <a href="{{ path('app_infoperso_show', {'id': info_perso.id}) }}">show</a>
                    <a href="{{ path('app_infoperso_edit', {'id': info_perso.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_infoperso_new') }}">Create new</a>
{% endblock %}
